.MemoryGame {
	max-width: 860px;
	margin: 40px auto;
	font-family: 'FF Hekaya Light';


}

.MemoryGame button {
	background: none;
	border: none;
	padding: 6px 12px;
	font-weight: bold;
	cursor: pointer;
	font-size: 1em;
}

#back {
	position: absolute;
	left: 3.75%;
	right: 95%;
	top: 6.33%;
	bottom: 91.67%;
}


.cards-grid {
	margin: auto;
	margin-top: 100px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	border: 10px sold rgb(0, 0, 0);
	border-radius: 10px;
}

/*  
/* 
/* 
 */


.MemoryGame ul {
	margin-top: 48
}

.MemoryGame li {
	width: 2em;
	height: 2em;
	text-align: center;
	line-height: 2em;
	border-radius: 1em;
	background: dodgerblue;
	margin: 0 1em;
	display: inline-block;
	color: rgb(0, 0, 0);
	position: relative;
}

.MemoryGame li::before {
	content: '';
	position: absolute;
	top: .9em;
	left: -4em;
	width: 4em;
	height: .2em;
	background: dodgerblue;
	z-index: -1;
}


.MemoryGame li:first-child::before {
	display: none;
}

.MemoryGame .active {
	background: rgb(158, 99, 32);
}

.MemoryGame .active~li {
	background: lightblue;
}

.MemoryGame active~li::before {
	background: lightblue;
}