.card {
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    border: 2px sold rgb(7, 110, 158);
    border-radius: 6px;
}

/* setting the front(pic side) as absolute position */
.card .frontOfCard {
    transform: rotateY(90deg);
    transition: all ease-in 0.3s;
    position: absolute;
}

.flipped .frontOfCard {
    transform: rotateY(0deg);

    transition-delay: 0.3s;

}

.card .backOfCard {
    transition: all ease-in 0.3s;
    transition-delay: 0.3s;

}

.flipped .backOfCard {
    transform: rotateY(90deg);
    /* transition-delay: 0s */
}